:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(4, 4, 4, 0.87);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 120px 0 0 0;
  overflow-x: hidden;
  padding: 0;
  text-align: center;
}

.navbar {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  background-color: #6c6868;
  width: 100%;
  top: 0;
}

.navbar img {
  height: 60px;
  padding: 10px;
  margin-left: 50px;
  filter: brightness(1.4) contrast(1.9) saturate(1.2);
}

.navbar a {
  text-decoration: none;
  font-weight: bold;
  color: #eee8e8;
  font-size: 16px;
  margin-right: 100px;

}

.navbar a:hover {
  color: white;
  font-size: 17px;
}

h1 {
  font-size: 24px;
  font-weight: 900;
}

h2 {
  font-size: 20px;
}

input{
  padding: 5px;
}

select {
  padding: 5px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 700px;
  border: 2px solid #232323;
  border-radius: 15px;
  margin: 20px;
  color: white;
  background-color: #6c6868;
  box-shadow: 11px 13px 0px -6px rgba(0,0,0,0.75);
-webkit-box-shadow: 11px 13px 0px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 11px 13px 0px -6px rgba(0,0,0,0.75);
}


.parts-list {
  display: flex;
  gap: 20px;
  list-style: none;
}

@media (max-width: 768px) {
  section {
    width: 90%;
  }
  .navbar img {
    height: 30px;
    margin-left: 10px;
  }
  .parts-list {
    flex-direction: column;
    align-items: center;
  }
}

ul {
  list-style: none;
}

.lists {
  display: flex;
  align-items: center;
  gap: 10px;
  max-height: 150px;
  overflow-y: auto;
  margin-bottom: 20px;
  margin-right: 15px;
}

.btns {
  display: flex;
  gap: 10px;
  margin: 10px;
  justify-content: center;
}

button {
  background-color: #ffd800;
  border: none;
  color: black;
  border-radius: 20px;
  padding: 10px;
}

button:hover {
  background-color: #fbe38a;
  cursor: pointer;
}

.search-results {
  display: flex;
  gap: 5px;
}

.login {
  padding: 20px 0;
}

a {
  text-decoration: none;
  color: #e8e5e5;
}

.menu {
  margin-right: 30px;
}

.error {
  color: red;
}